.card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 16px;
  width: 100%;
  box-sizing: border-box;


}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 16px;
  overflow: hidden;
  width: 200px;
  /* height: 200; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: scale(1.05);/* Increases the size by 5% */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.card img {
  width: 100%;
  height: 180px; /* Set a fixed height */
  object-fit: cover; /* Crop to fill */
}

.card-details {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 0.8em;
  margin: 0 0 8px 0;
}

.card-description {
  font-size: 0.6em;
  color: #555;
  margin-bottom: 12px;
  font-weight: 200; /* Lighter weight */
}

/* 
.card-price {
  font-size: 0.9em;
  color: #28a745;
  margin-top: 0;
} */
/*new chnages*/
.category-buttons-container {
  display: flex;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: #00a69b; /* Change to your desired color */
  border-bottom: 1px solid #00a69b;
  flex-wrap: wrap;
  justify-content: flex-start;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  
}

.card {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: calc(33.33% - 1rem); /* Adjust for gaps */
  min-width: 250px; /* Set a minimum width to prevent them from being too small */
  max-width: 300px; /* Optional: set a maximum width */
  margin: 0; /* Remove any default margins */
}

.category-buttons-container button:hover {
  background-color: #eaeaea;
}

.category-buttons-container button.active {
  background-color: #00a69b;
  color: white;
  border-color: #00a69b;
}
.card-price-row {
  display: flex;
  align-items: center;  /* Vertically align the price and icon */
  justify-content: space-between; /* Put space between the price and the icon */
  width: 100%;  /* Ensure it takes up the full width of the container */
}

.card-price {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  color: black;
}

.add-icon {
  font-size: 24px;  /* Size of the icon */
  color: #00a69b;  /* Correct icon color */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-left: 8px;  /* Add some space between the price and icon */
}

