.order-display-container {
  max-width: 1200px; 
  margin: 20px auto; 
  padding: 20px; 
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.order-display-container h2 {
  text-align: center; 
  color: #00a69b; 
}

.order-display-container ul {
  list-style-type: none; 
  padding: 0; 
}

.order-display-container li {
  border: 1px solid #ccc; 
  padding: 10px; 
  margin: 10px 0; 
  border-radius: 6px; 
  background-color: #fff;
  transition: background-color 0.3s; 
}

.order-display-container li:hover {
  background-color: #f1f1f1; 
}

.order-display-container p {
  margin: 5px 0; 
  color: #797f88; 
}

.order-display-container strong {
  color: #00a69b; 
}
.button {
  padding: 5px 10px;
  background-color: #00a69b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px; 
}

.button:hover {
  background-color: #007e76;
}

.button.cancel {
  background-color: #dc3545; 
}

.button.cancel:hover {
  background-color: #b21f28; 
}.order-item-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
}

.card-buttons {
  display: flex;
  flex-direction: column; 
  gap: 10px;              
}
.pagination-button {
  padding: 8px 12px;
  border: none;
  background-color: #f0f0f0;
  color: #333;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination-button:hover {
  background-color: #ddd;
}

.pagination-button.active {
  background-color: #00a69b;
  color: #fff;
  pointer-events: none;
}